Ether/Config/ConfigSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Codestellation.Ether.Config" elementFormDefault="qualified" targetNamespace="urn:Codestellation.Ether.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ether" type="tns:Codestellation.Ether.Config.EtherConfigSectionCT" />
	<xs:complexType name="Codestellation.Ether.Config.EtherConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="rules" type="tns:Codestellation.Ether.Config.MailingRulesConfigElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The MailingRules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="groups" type="tns:Codestellation.Ether.Config.GroupConfigElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The MailingGroups.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="templatesFolder" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TemplatesFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fromAddress" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FromAddress.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="outgoingEmailsFile" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OutgoingEmailsFile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Codestellation.Ether.Config.MailingRulesConfigElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="rule" type="tns:Codestellation.Ether.Config.MailingRuleConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The MailingRuleConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Codestellation.Ether.Config.MailingRuleConfigurationElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="recepients" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Recepients.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Codestellation.Ether.Config.GroupConfigElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group" type="tns:Codestellation.Ether.Config.GroupConfigElementCT">
				<xs:annotation>
					<xs:documentation>The GroupConfigElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Codestellation.Ether.Config.GroupConfigElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="participants" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Participants.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
